@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
    background: url("../images/img.jpeg") no-repeat center/cover;
    /*background: #06bdc1;*/
    /*background: -webkit-radial-gradient(center, #06bdc1, #68469f);*/
    /*background: -moz-radial-gradient(center, #06bdc1, #68469f);*/
    /*background: radial-gradient(ellipse at center, #06bdc1, #68469f);*/
}

.container {
    width: 1280px;
    margin: auto;
}

.quotes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.inner-quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    min-height: 400px;
    padding: 0 25px;
    color: gray;
    border-radius: 10px;
    background-color: #fcdbaa;
    border: 10px solid rgb(154, 107, 6);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.9);
}

.inner-quotes-container p {
    font-size: 1.5rem;
    color: black;
}

.inner-quotes-container h3 {
    font-size: 2rem;
    color: black;
    font-family: "Dancing Script", cursive;
}

.quote-btn {
    padding-top: 25px;

}
.quote-btn button {
    background: #fcdbaa;
    border-color: #9A6B06FF;
}
.quote-btn button:hover{
    background:#9A6B06FF ;
    border-color: #9A6B06FF;
    transition: 1s;
}
@media (max-width: 1280px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 900px) {
    .inner-quotes-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .inner-quotes-container p {
        font-size: 1.2rem;
    }
    .inner-quotes-container h3 {
        font-size: 1.5rem;
    }
}
